<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bienvenido</title>
  </head>
  <body>
    <h1><%= session["name"] %> VS Sr Pipatila</h1>
    <form action="/jugarPiedra" method="post">
      <input type="submit" name="piedra" value="piedra">
      <input type="text" name="resultado" value="resultado">
    </form>

    <form action="/jugarPapel" method="post">
      <input type="submit" name="papel" value="papel">
    </form>

    <h3>Resultado: <%= session["resultado"] %></h3>
  </body>
</html>
