<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bienvenido</title>
  </head>
  <body>
    <h1 align="center"><%= session["name"] %> VS Sr Pipatila</h1>
    <table align="center" border="1">
      <tr>
        <td>
          <form action="/jugarPiedra" method="post">
            <input type="submit" name="piedra" value="piedra">
          </form>
        </td>
        <td>
          <form action="/jugarPapel" method="post">
            <input type="submit" name="papel" value="papel">
          </form>
        </td>
        <td>
          <form action="/jugarTijera" method="post">
            <input type="submit" name="tijera" value="tijera">
          </form>
        </td>
        <td>
          <form action="/jugarSr" method="post">
            <input type="submit" name="sr" value="sr_spock">
          </form>
        </td>
        <td>
          <form action="/jugarLagartija" method="post">
            <input type="submit" name="lagartija" value="lagartija">
          </form>
        </td>
      </tr>

    </table>

    <table align="center">
      <tr>
        <td>
          <h3>Tu eleccion: <%= session["eleccion"] %></h3>
          <h3>Tu oponente eligio: <%= session["com"] %></h3>
          <h1>Resultado: <%= session["resultado"] %></h1>
          <tr>
            <td align="center">
              <form action="/reiniciar" method="post">
                <input type="submit" name="/Start" value="Reiniciar">
              </form>
            </td>
          </tr>
        </td>
      </tr>
    </table>
  </body>
</html>
