<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Señor Pipatila</title>
  </head>
  <body>
    <h1>Señor Pipatila</h1>
    <h1>Introduce tu nombre</h1>

      <form class="" action="/Start" method="post">
        <input type="text" name="j1" value="">
        <input type="submit" name="Facil" value="Facil">
      </form>
  </body>
</html>
